.formSelectTopic-container-main{
    width: 700px;
    margin: 30px auto;
    padding: 50px;
    border-radius: 20px;
    background-color: rgb(232, 201, 144);
    
    
}



.formBtn-main{
    background-color: rgb(198, 145, 20);
    display: block;
    border: none;
    width: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 20px auto 0 auto;
    
}


.formSelectTopic-item-main{
    display: flex;
    width: 550px;
    height: 3em;
    line-height: 3;
    background: #A0B8C6;
    border-radius: .25em;
    padding-left: 5px;
    border: none;
    
}

.formSelectTopic-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.formSelectTopic-item-main label{
    letter-spacing: 1px;
}

.formSelectTopic-item-main input{
    
}

.formSelectNumber-item{
    position: relative;
    display: flex;
    width: 550px;
    height: 3em;
    line-height: 3;
    background: #A0B8C6;
    overflow: hidden;
    border-radius: .25em;
    padding-left: 5px;
    border:none;
}

.formSelectNumber-item label{
    letter-spacing: 1px;
}

.formSelectNumber-item select{
    border: none;
    font-weight: bold;
}



.formSelectNumber-item::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #A0B8C6;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.formSelectNumber-item:hover::after {
    color: #3d708e;
    cursor: pointer;
}