@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  padding-top: 60px;
}

:root {
  --font-pinyon: 'Pinyon Script', cursive;
  --font-lato: 'Lato',
    sans-serif;
}

a{
  text-decoration: none;
}